<p>
  <%= comment.commenter %> :
  <%= comment.body %>
</p>

<ul>
  <%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
</ul>